<header>
    <nav class="nav">
        <a class="nav-link active" aria-current="page" href="/home">Dashboard</a>
        <a class="nav-link active" aria-current="page" href="users/home/addContact">Ajouter un contact +</a>
        <a class="nav-link active" aria-current="page" href="/users/logout">logout</a>

    </nav>
</header>